@use '../utils' as *;

/*----------------------------------------*/
/*   HEADER START
/*----------------------------------------*/

 // NAV BAR

.nav{
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 9;
  padding: 0 6%;

  &__logo{
    padding-top: 30px;
    .image-wrapper{
      position: relative;
      height: 8rem;
      width: 8rem;
      @media #{$sm, $xs}{
        height: 6rem;
        width: 6rem;
      }
      .image{
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

  }

  &__links{
    ul{
      display: flex;
      column-gap: 2rem;
      font-size: 0.95rem;
      li{
        @include transition(.35s);
        &:hover{
          color: var(--tp-common-orange);
          text-decoration: underline;
        }
      }
      @media #{$md, $sm, $xs}{
        display: none;
      }
    }
  }

  &__account{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    font-size: 1.4rem;

    .cart{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      background: #F4653A;
      border-radius: 50%;
      font-size: 1.4rem;
      color: white;
      cursor: pointer;
      position: relative;
      z-index: 9;
      @include transition(.45s);
      &:hover{
      }
      
      &-count{
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        justify-content: center;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background: var(--tp-common-white);
        p{
          font-family: var(--tp-ff-heading);
          font-size: 1rem;
          font-weight: 600;
          color: var(--tp-theme-1);
        }
      }
    }
  }

  &__toggle{
    z-index: 9;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    transition: .45s ease-in-out;
    @include transition(.45s);
    &:hover{
      cursor: pointer;
      color: var(--tp-common-orange);
    }

    &-icon{
      font-size: 1.6rem;
    }
  }

  &__menu{

  }
}


.menu-wrapper{
  display: none;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;


}
.menu{
  position: relative;
  height: 100%;
  overflow: hidden;
  background: var(--tp-theme-1);


 // BACKGROUND IMAGE
  .image-wrapper{
    position: absolute;
    top: 35vh;
    left: 12vw;
    height: 52vh;
    width: 24vw;
    z-index: -2;
    @media #{$sm, $xs}{
      left: 8vw;
      height: 34vh;
      width: 24vw;
    }
    .image{
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 12px;
    }
  }

  //  OVERLAY
  .overlay{
    //position: absolute;
    //background: var(--tp-theme-1);
    //height: 100vh;
    //width: 100vw;
    //opacity: 0.90;
    //z-index: -2;

  }

  &__items{
    text-align: center;
    margin-top: 30vh;

  }
  &__item{
    margin: 12vh auto;
    font-family: var(--tp-ff-heading);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: fit-content;
    color: var(--tp-text-body);
    opacity: 1 !important;


    &:hover{
      color: var(--tp-common-white);
      transition: .35s ease-in-out;
    }

  }
  &-secondary-background-color{
    background: var(--tp-common-orange);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}


.header{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__title{
    margin-top: 6rem;
    h1{
      font-size: 5vw;
      @media #{$sm, $xs}{
        font-size: 9vw;
      }
    }
  }
  &__subtitle{
    p{
      margin-top: 2rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: var(--tp-common-orange);
      font-weight: 600;
      letter-spacing: 1px;
      @media #{$sm, $xs}{
        font-size: 1.1rem;
      }
    }
  }
}